doctype html
html(lang="en")
	head
		title Flash Cards
	body
		header
			h1 Flash Cards
		section#content
			table
				tr
					th First Name
					th Last Name
				tr
					td Justine
					td Kelley
				tr
					td Abi
					td Bulus
				tr
					td Atsen
					td Bulus
				tr
					td Atu
					td Galadima
				tr
					td Abrak
					td Kunhiyop
		footer
			p An app to help you study